<%= render "errors" %>

<%= form_for [@product, @review] do |f| %>
  <div class="form-group">
    <%= f.label :author %>
    <%= f.text_field :author, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content_body %>
    <%= f.text_field :content_body, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :rating %>
    <%= f.text_field :rating, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>
